{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <title>Asset Info</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static './css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static './css/internal_nav.css' %}" />
    <link rel="stylesheet" href="{% static './css/assetInfo.css' %}" />
  </head>

  <body>
    <!-- Side Vertical Navigation bar-->
    <nav>
      <!-- Toogle for responsive nav bar-->
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <!-- side nav -->
      <div class="sidenav">
        <div class="img">
          <img
            src="{% static './images/logo.png' %}"
            class="logo"
            alt="logo_emot"
          /><img
            src="{% static './images/logo1.png' %}"
            class="logo1"
            alt="logo_emot"
          />
        </div>

        <div class="dropdown-btn">
          <a href="{% url 'dashboard' %}"
            ><img
              src="{% static './images/Dashboard.png' %}"
              alt="dashboard"
            />Dashboards</a
          >
          <button id="a">+</button>
        </div>

        <div class="dropdown-container">
          <div class="sub-link">
            <a href="{% url 'dashboard' %}">DGMS Dashboard</a>
          </div>
          <div class="sub-link"><a href="#">Coming soon</a></div>
          <div class="sub-link"><a href="#">Coming soon</a></div>
        </div>

        <div>
          <a href="addCustomer"
            ><img src="{% static './images/customer.png' %}" alt="customer" />
            Add Customer</a
          >
        </div>
        <div class="active">
          <a href="assetInfo"
            ><img src="{% static './images/device.png' %}" alt="asset" /> Add
            Asset</a
          >
        </div>
        <div>
          <a href="update"
            ><img src="{% static './images/update.png' %}" alt="update" />
            update</a
          >
        </div>
        <div>
          <a href="setAlert"
            ><img src="{% static './images/alert.png' %}" alt="setAlert" /> Set
            Alert</a
          >
        </div>
      </div>
    </nav>
    <!--end side nav-->

    <div class="main">
      <!-- Upper horizontal nav bar -->

      <nav class="hor_nav">
        <div class="name">Admin</div>

        <div class="right">
          <div class="notify">
            <img
              src="{% static './images/notification.png' %}"
              alt="notifications"
            />
          </div>
          <div class="type">DGMS</div>

          <div class="user_img">
            <img src="{% static './images/user.png' %}" alt="user_img" />
          </div>

          <div onclick="dropFunction()" class="user_name">
            {{username}} &ensp;
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>

          <div id="user-dropdown" class="drop-cont">
            <div><a href="{% url 'password_change' %}">Change Password</a></div>
            <hr />
            <div><a href="{% url 'logoutUser' %}" id="logout">Logout</a></div>
          </div>
        </div>
      </nav>
      <!-- end horizontal nav -->

      <div class="cont">
        <div class="internal_nav">
          <div class="row">
            <div class="active_link">
              <p><a href="assetInfo">Asset Info</a></p>
            </div>
            <div>
              <p><a href="deviceInfo">Device Info</a></p>
            </div>
            <div>
              <p><a href="sensorInfo">Sensor Info</a></p>
            </div>
            <div>
              <p><a href="addService_history">Service History</a></p>
            </div>
            <div>
              <p><a href="beforedgms_installation">Before DGMS Installation</a></p>
            </div>
          </div>
        </div>

        <div class="back">
          <div class="form_body" id="cust_form">
            <form action="" method="POST">
              <div class="sub_head">Add Asset Info</div>
              <div class="row">
              <br />
              {% csrf_token %} {{form.as_p}}
            </div>
              <hr />

              <div class="form_bottom">
                <div class="reset">
                  <input type="reset" id="resetbtn1" style="display: none" />
                  <img
                    src="{% static './images/arrow-circle.png' %}"
                    onclick="document.getElementById('resetbtn1').click()"
                  />
                </div>
                <div class="submit_btn">
                  <button>SUBMIT</button>
                </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- class ="cont" ends here -->
    </div>
    <!--class="main" ends here-->

    <!-- js -->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static './js/navbar.js' %}"></script>
  </body>
</html>
