{% load static %}
<!DOCTYPE html>
<html lang="en">

<head> 
<!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
<title>{{Loc}}</title>
<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<link rel="stylesheet" href="{% static './css/navbar.css' %}">
<link rel="stylesheet" href="{% static './css/dgmsInfo.css' %}">
<link rel="stylesheet" href="{% static './css/internal_nav.css' %}">
<link rel="stylesheet" href="{% static './css/asset_detail.css' %}">
<link rel="stylesheet" href="{% static './css/footer.css' %}">

</head>


<body>
<!-- Side Vertical Navigation bar-->
<nav>
<!-- Toogle for responsive nav bar-->
<div class="hamburger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<!-- side nav -->
<div class="sidenav">
  <div class="img">
    <img
      src="{% static './images/emot.png' %}"
      class="logo"
      alt="logo_emot"
    />
  </div>

  <div class="dropdown-btn active">
    <a href="{% url 'ems' %}"
      ><img
        src="{% static './images/Dashboard.png' %}"
        alt="dashboard"
      />Dashboards</a
    >
    <button id="a">+</button>
  </div>

  <div class="dropdown-container">
    <div class="sub-link">
      <a href="{% url 'dashboard' %}">Diesel Generator</a>
    </div>
    <div class="sub-link active">
      <a href="{% url 'ems' %}">Servo Voltage Stabilizer</a>
    </div>
    <div class="sub-link"><a href="#">Coming soon</a></div>
  </div>
</div>
</nav>
<!--end side nav-->



<div class="main">

<!-- Upper horizontal nav bar -->

<nav class="hor_nav">
  <div class="left">
    <div class="user_img">
      <img src="{% static './images/ccd.png' %}" alt="user_img" />
    </div>
    <div class="name">{{Customer_Name}}</div>
  </div>

  <div class="right">
    <a href="{% url 'emsalert'  %}" target="_blank"
      ><div class="notify">
        <div>
          <img
            src="{% static './images/notification.png' %}"
            alt="notifications"
          />
        </div>
        <div class="not-txt"><div class="not-no">{{alert_count}}</div></div>
      </div></a
    >
    <div class="type"><a href="{% url 'ems' %}"> EMS </a></div>

    <div onclick="dropFunction()" class="user_name">
      {{username}} &ensp;
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down-fill"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
        />
      </svg>
    </div>

    <div id="user-dropdown" class="drop-cont">
      <div><a href="{% url 'password_change' %}">Change Password</a></div>
      <hr />
      <div><a href="{% url 'logoutUser' %}" id="logout">Logout</a></div>
    </div>
  </div>
</nav>
<!-- end horizontal nav -->


  
<div class="dg_info">
  <div class="b"></div>
  <div class="row">
    <div class="on-left">
      <div class="dg_info_dev">
        <div class="asset_name">{{Cit}}-{{Loc}}</div>
        <div class="inst_dgms">EMS Installation Date: {{EDOI}}</div>
      </div>

      <div class="star-kva">
        <div class="kva">{{Rat}} kVA</div>
        {% if Star == 1 %}
        <div class="star">
          <img src="{% static './images/star1.png' %}" />
        </div>
        {% elif Star == 2 %}
        <div class="star">
          <img src="{% static './images/star2.png' %}" />
        </div>
        {% elif Star == 3 %}
        <div class="star">
          <img src="{% static './images/star3.png' %}" />
        </div>
        {% elif Star == 4 %}
        <div class="star">
          <img src="{% static './images/star4.png' %}" />
        </div>
        {% else %}
        <div class="star">
          <img src="{% static './images/star5.png' %}" />
        </div>
        {% endif %}
      </div>

      <div class="weather">
        <div class="weather-img">
          <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" />
        </div>
        <div class="weather-text">
          <div>{{temperature}} &deg; C</div>
          <div class="weather-type">{{description}}</div>
        </div>
      </div>
      <div class="last-data">
        <div class="last-data-time">{{LTOD}}</div>
        <div class="last-data-text">Last Data Recieved</div>
      </div>
    </div>

    <div class="dg_info_status">
      {% if Stat == 'ON' %}
      <div class="status" id="dg_on">ON</div>
      {% else %}
      <div class="status" id="dg_off">OFF</div>
      {% endif %}
      <div>{{diff}}</div>
    </div>
  </div>
</div>


<div class="cont">

  <div class="internal_nav"> 
    <div class="row" >
        <div><p><a href="{% url 'emsDashboard' device_id %}">Dashboard</a></p></div>

        <div class="drop_asset">
          <p>KPI</p>
   
          <div class="drop-down ">
           
            <div><a href="{% url 'emsEnergyPara' device_id %}">Energy Parameters</a></div>
            <hr>
            <div><a href="{% url 'emsLoadKPI' device_id %}">Load Side KPI</a></div>
            <hr>
            <div><a href="{% url 'emsDeviceInfoKPI' device_id %}">EMS Device Info</a></div>
            
          </div>
   
          </div> 

       <div class="drop_asset active_link">
       <p>Asset Information</p>

       <div class="drop-down">
        <div>
          <a href="{% url 'emsasset_detail' device_id %}"
            >Asset Detail</a
          >
        </div>
        <hr />
        <div>
          <a href="{% url 'emsservice_history' device_id %}"
            >Service History</a
          >
        </div>
      </div>

       </div> 

         <div ><p><a href="{% url 'emsdevice_alert' device_id %}">Alerts</a></p></div>

    </div>
</div> <!-- class ="internal_nav" ends here -->



<div class="asset_detail">
 
    <div class="asset_img"><img src="{% static './images/asset1.png' %}" alt="asset"></div>

    <div class="asset_info">
        <div class="asset_name">Asset Detail</div>
        <div class="download_info" onclick="genPDF()"><img src="{% static './images/download.png' %}" alt="asset"></div>
    </div>

    <div class="asset-table">
      <table id="asset-detail-servo">
        <thead>
        <tr class="t_body">
          <th>ASSET INFO</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>  
    
        <tr class="t_body">
          <td>RATING</td>
          <td >{{Details.rating_in_kva}} kVA </td>
        </tr>
    
        <tr class="t_body">
          <td>INPUT VOLTAGE RANGE</td>
          <td>{{Details.input_voltage_range}} </td>
        </tr>
    
        <tr class="t_body">
          <td>S.NO.</td>
          <td>{{Details.s_no}} </td>
        </tr>

        <tr class="t_body">
          <td>COOLING</td>
          <td >{{Details.cooling}}  </td>
        </tr>
    
        <tr class="t_body">
          <td>OIL TANK SIZE (LITERS)</td>
          <td> {{Details.oil_tank_size}} </td>
        </tr>
    
        <tr class="t_body">
          <td>OTHER INFO</td>
          <td>{{Details.other_info}}</td>
        </tr>

        <tr class="t_body">
          <td>OEM</td>
          <td >{{Details.oem}} </td>
        </tr>
    
        <tr class="t_body">
          <td>SELLER NAME</td>
          <td> {{Details.seller_name}} </td>
        </tr>
    
        <tr class="t_body">
          <td>SERVICE PROVIDER</td>
          <td>{{Details.service_provider}}</td>
        </tr>
    
    
        <tr class="t_body">
          <td colspan="2">WARRANTY</td>
        </tr>

        <tr class="t_body">
          <td>DATE OF INSTALLATION</td>
          <td>{{Details.date_of_installation}}</td>
        </tr>
    
        <tr class="t_body">
          <td>WARRANTY START DATE</td>
          <td>{{Details.warranty_start_date }}</td>
        </tr>
    
        <tr class="t_body">
          <td>WARRANTY END DATE</td>
          <td>{{Details.warranty_end_date}}</td>
        </tr>
    
        <tr class="t_body">
          <td>WARRANTY PERIOD (YEARS)</td>
          <td>{{Details.warranty_period}}</td>
        </tr>
    
        <tr class="t_body">
          <td>WARRANTY STATUS</td>
          <td>{{Details.warranty_status}}</td>
        </tr>
    
        <tr class="t_body">
          <td colspan="2">INSTALLATION</td>
        </tr>
    
        <tr class="t_body">
          <td>EMS-SERVO INSTALLATION DATE</td>
          <td>{{Details.ems_date_of_installation }}</td>
        </tr>
    
        <tr class="t_body">
          <td>OTHER INFO</td>
          <td>{{Details.other_info_new}}</td>
        </tr>
      </tbody>
    
      </table>
    
      <br>
      <br>
    </div>

</div> <!-- class ="asset_detail" ends here -->
  
</div> <!-- class ="cont" ends here -->


<!--PDF STRUCTURE-->
<div style="display: none; font-family:Arial, Helvetica, sans-serif">
  <div id="pdfName" style="font-size: 25px;">EMS-Servo Asset Detail</div>
  <div id="customerName" style="font-size: 25px; font-weight: bold;">Cafe Coffee Day</div>
    <div id="assetDetail">
      <div><span style="font-weight: bold;">Asset:</span>{{Cit}}-{{Loc}}</span></div>
      <div><span style="font-weight: bold;">Rating:</span> {{Details.rating_in_kva}} kVA</div>
      <div><span style="font-weight: bold;">Oil Tank Size:</span> {{Details.oil_tank_size}} Liters</div>
    </div>
    <div id="assetAddress">
      <div style="font-weight: bold;">Address:</div> 
      <div>{{Address1}}</div>
    </div>

  </div>

  <div class="footer">
    <div class="footer-content">
      <div>© 2021 eMoT. All Rights Reserved.</div>

      <div class="web-links">
        <div>
          <a href="https://www.emot.co.in/about-us/" target="_blank"
            >About us</a
          >
        </div>
        <div>
          <a href="https://www.emot.co.in/contact/" target="_blank"
            >Contact us</a
          >
        </div>
        <div>
          <a href="https://www.emot.co.in/emot/" target="_blank"
            >eMoT IoT</a
          >
        </div>
      </div>

      <div class="social-media">
        <a href="https://www.facebook.com/emot.co.in/" target="_blank"
          ><img
            src="{% static './images/facebook.png' %}"
            alt="facebook"
            title="facebook"
        /></a>
        <a href="https://twitter.com/Emot86007134" target="_blank"
          ><img
            src="{% static './images/twitter.png' %}"
            alt="twitter"
            title="twitter"
        /></a>
        <a
          href="https://www.linkedin.com/company/emot-elekron/"
          target="_blank"
          ><img
            src="{% static './images/linkedin.png' %}"
            alt="linkedin"
            title="linkedin"
        /></a>
        <a href="https://www.instagram.com/elekronemot/" target="_blank"
          ><img
            src="{% static './images/instagram.png' %}"
            alt="instagram"
            title="instagram"
        /></a>
      </div>
    </div>
  </div>

</div> <!--class="main" ends here-->

<!-- js -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js" ></script>
    <script type="text/javascript" src="{% static './js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static './js/emsServoAssetPDF.js' %}"></script>


</body>

</html>