{% extends 'dgms/Report-base.html' %} {% block content %} {% load static %}

<div class="download_report" align="right">


  <div  class="download">
  <div><img src="{% static './images/download.png' %}" alt="download"> </div>
  <div onclick="reportFunction()" class="dn-txt">Download </div>
</div>

<div id="report-dropdown" class="report-dropdown-content">
  <div onclick="genPDF()" >pdf</div>
  <hr>
  <div onclick="download_table_as_csv('report' ,'operational_report')">csv</div>
</div>

</div>

<div class="report">
  <div class="report_table">
    <table id="report">
      <thead >
      <tr id="op"> 
          <th>S.NO</th>
          <th>RUN COUNT</th>
          <th>START TIME</th>
          <th>END TIME</th>
          <th>RUN HOUR</th>
          <th>FUEL CONSUMED (L)</th>
          <th>FUEL COST (Rs)</th>
          <th>ENERGY GENERATED</th>
      </tr>
     </thead>

     <tbody>
      {% for s,e,O,R,run in OP1 %}
      <tr>
        <td>{{ forloop.counter }}.</td>
        <td>{{ R }}</td>
        <td>{{s}}</td>
        {% if e == None %}
        <td>Running</td>
        <td>Running</td>
        <td>Running</td>
        <td>Running</td>
        <td>Running</td>
        {% else %}
        <td>{{e}}</td>
        <td>{{run}}</td>
        <td>{{O.fuel_consumed|floatformat:2 }}</td>
        <td>{{O.fuel_cost|floatformat:2 }}</td>
        <td>{{O.energy_generated_kwh|floatformat:2 }}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>

      <tr class="tfoot">
        <td>Total:</td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{Total_RH}}</td>
        <td>{{Total_F|floatformat:2}}</td>
       <td>{{Total_FC|floatformat:2}}</td>
       <td>{{Total_EG|floatformat:2}}</td>
      </tr>

  </table>
  </div> <!-- class ="report_table" ends here -->

  <div class="total_records">
    <div class="tr_text">Total Records Fetched: {{Count}} </div>
  </div>

</div> <!-- class ="report" ends here -->

</div> <!-- class ="cont" ends here -->

<div class="report_struct" style=" display: none; font-family:Arial, Helvetica, sans-serif">
        <div id="reportName" style="font-size: 27px;">Operational Report</div>
        <div id="customerName" style="font-size: 25px; font-weight: bold;">{{Customer_Name}}</div>
        <div id="assetDetail">
          <div><span style="font-weight: bold;">Asset:</span>{{Cit}}-{{Loc}}</span></div>
          <div><span style="font-weight: bold;">Rating:</span> {{Rat}} kVA</div>
          <div><span style="font-weight: bold;">Diesel Tank Size:</span> {{Tank_Size}} Liters</div>
        </div>
        <div id="assetAddress">
          <div style="font-weight: bold;">Address:</div> 
          <div>{{Address}}</div>
        </div>
        <div id="dateRange" >{{enddate}} TO {{startdate}}</div>
        <div id="fuelCon"><span style="font-weight: bold;">Total Fuel Consumed:</span> {{Total_F}} L</div>

</div>

{% endblock %}