{% extends 'dgms/base.html' %} {% load static %}
{% block css %} 
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 
    <link rel="stylesheet" href="{% static './css/dgms_dashboard_device.css' %}" />
    <link rel="stylesheet" href="{% static './css/chart.css' %}" />
{% endblock %}

{% block content %} 
      <div class="cont">
        <div class="internal_nav">
          <div class="row">
            <div class="active_link">
              <p><a href="{% url 'dgmsDashboard' device_id %}">Dashboard</a></p>
            </div>
            <!-- <div class="active_link" ><p><a href="kpi.html">KPI</a></p></div> -->

            <div class="drop_asset">
              <p>KPI</p>

              <div class="drop-down">
                <div>
                  <a href="{% url 'energyPara' device_id %}"
                    >Energy Parameters</a
                  >
                </div>
                <hr />
                <div>
                  <a href="{% url 'loadKPI' device_id %}">Load Side KPI</a>
                </div>
                <hr />
                <div>
                  <a href="{% url 'enginePara' device_id %}"
                    >Engine Parameters</a
                  >
                </div>
                <hr />
                <div>
                  <a href="{% url 'performanceKPI' device_id %}"
                    >Performance based KPI</a
                  >
                </div>
                <hr />
                <div>
                  <a href="{% url 'deviceInfoKPI' device_id %}"
                    >DGMS Device Info</a
                  >
                </div>
              </div>
            </div>

            <div class="drop_asset">
              <p>Asset Information</p>

              <div class="drop-down">
                <div>
                  <a href="{% url 'asset' device_id  %}">Asset Detail</a>
                </div>
                <hr />
                <div>
                  <a href="{% url 'servicehistory' device_id  %}"
                    >Service History</a
                  >
                </div>
              </div>
            </div>

            <div class="drop_asset">
              <p>Reports</p>

              <div class="drop-down">
                <div>
                  <a href="{% url 'fuel_report' device_id  %}"
                    >Fuel filled report</a
                  >
                </div>
                <hr />
                <div>
                  <a href="{% url 'operational_report' device_id  %}"
                    >Operational report</a
                  >
                </div>
                <hr />
                <div>
                  <a href="{% url 'performance_report' device_id  %}"
                    >Performance report</a
                  >
                </div>
              </div>
            </div>

            <div>
              <p><a href="{% url 'device_alert' device_id  %}">Alerts</a></p>
            </div>
          </div>
        </div>
        <!-- class ="internal_nav" ends here -->

        <div class="dashboard">
          <div class="row-dashboard">
            <div class="left_side">
              <div class="three">
                <div class="row">
                  <div class="container">
                    <div class="heading">Run Hour</div>
                    <img src="{% static './images/running.png' %}" alt="run" />
                    <div class="value">{{hh}}</div>
                  </div>

                  <div class="container">
                    <div class="heading">Unit Generated</div>
                    <img
                      src="{% static './images/energy.png' %}"
                      alt="energy"
                    />
                    <div class="value">{{UG}} kWh</div>
                  </div>

                  <div class="container">
                    <div class="heading">Carbon Footprint</div>
                    <img
                      src="{% static './images/footprint.png' %}"
                      alt="footprint"
                    />
                    <div class="value">{{Carbon_Foot_Print}} kg</div>
                  </div>
                </div>
              </div>
              <!-- class ="three" ends here -->

              <div class="three">
                <div class="row">
                  <div class="container">
                    <div class="heading">Average Fuel Consumption</div>
                    <img
                      src="{% static './images/gas-station.png' %}"
                      alt="battery"
                    />
                    <div class="value">{{AvgFC}} L/Hr</div>
                  </div>

                  <div class="container">
                    <div class="heading">Average Load</div>
                    <img
                      src="{% static './images/law-scale.png' %}"
                      alt="battery"
                    />
                    <div class="value">{{Energy_OA}} %</div>
                  </div>

                  <div class="container">
                    <div class="heading">Peak Load</div>
                    <img
                      src="{% static './images/trend.png' %}"
                      alt="battery"
                    />
                    <div class="value">{{MaxDLoad}} kVA</div>
                  </div>
                </div>
              </div>
              <!-- class ="three" ends here -->

              <div class="three">
                <div class="row">
                  <div class="container">
                    <div class="heading">Room Temp.</div>
                    <img
                      src="{% static './images/thermometer.png' %}"
                      alt="run"
                    />
                    <div class="value">{{RT}} &deg; C</div>
                  </div>

                  <div class="container">
                    <div class="heading">Run Count</div>
                    <img
                      src="{% static './images/pedometer.png' %}"
                      alt="run"
                    />
                    <div class="value">{{DeviceC}}</div>
                  </div>

                  <div class="container">
                    <div class="heading">Battery Voltage</div>
                    <img
                      src="{% static './images/lighting.png' %}"
                      alt="battery"
                    />
                    <div class="value">{{BV}} V DC</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- class ="left_side" ends here -->

            <div class="right_side">
              <div class="fuel_info">
                <div class="fuel_nav">
                  <div class="nav_text">Fuel Info</div>
                </div>

                <div class="fuel_body">
                  <span class="bold">Available Fuel:</span> {{Fuel2}} L
                </div>
                <div class="fuel_body">
                  <span class="bold">Fuel Percentage:</span> {{Fuel_Per}} %
                </div>
                <div class="fuel_body">
                  <span class="bold">Fuel Tank Size:</span> {{Tank_Size}} L
                </div>
              </div>
              <!-- class ="fuel_info" ends here -->

              <div class="asset_info">
                <div class="asset_nav">
                  <div class="nav_text">Asset info</div>
                </div>

                <div class="asset_body">
                  <span class="bold">Date of Installation:</span> {{DOI}}
                </div>
                <div class="asset_body">
                  <span class="bold">Warranty Status:</span> {{WS}}
                </div>
                <div class="asset_body">
                  <span class="bold">Last Service Date:</span> {{LSD}}
                </div>
                <div class="asset_body">
                  <span class="bold">Next Service Date:</span> {{NSD}}
                </div>
                <div class="asset_body">
                  <span class="bold">Service Provider:</span> {{SP}}
                </div>
              </div>
              <!-- class ="asset_info" ends here -->
            </div>
            <!-- class ="right_side" ends here -->
          </div>
          <!-- class ="row" ends here -->

          <div class="graphs-dg">
            <div class="one-graph">
              <!-- <div class="graph_nav">
        GSM Signal
      </div> -->
              <canvas id="diesel_level"></canvas>
              <script>
                var ctx = document.getElementById('diesel_level').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                        datasets: [{
                            label: 'Diesel Level',
                            // fill: false,
                            data: [{% for f in Fuel1 %} {{f}}, {% endfor %}],
                            backgroundColor: "rgba(190, 144, 212,0.4)",
                            borderColor: "rgba(190, 144, 212,0.5)",
                            borderWidth: 2
                        },
                        {
                            label: 'Diesel Level',
                            fill: false,
                            type: 'line',
                            data: [{% for f in Fuel1 %} {{f}}, {% endfor %}],
                            borderColor:'rgba(155, 89, 182, 1)',
                            borderWidth: 2
                        },
                        // {
                        //     label: 'min diesel level',
                        //     type: 'line',
                        //     fill: false,
                        //     data: [1, 1, 1, 1, 1, 1, 1,1, 1, 1, 1, 1, 1, 1],
                        //     // backgroundColor: [
                        //     //     'rgba(255, 255, 255, 0.4)'

                        //     // ],
                        //     borderColor: [
                        //         'rgba(238, 238, 0, 1)'

                        //     ],
                        //     borderWidth: 2
                        // },{
                        //     label: 'max diesel level',
                        //     type: 'line',
                        //     fill: false,
                        //     data: [12, 12, 12, 12, 12, 12, 12,12, 12, 12, 12, 12, 12, 12],
                        //     // backgroundColor: [
                        //     //     'rgba(255, 255, 255, 0.4)'

                        //     // ],
                        //     borderColor: [
                        //         'rgba(240, 52, 52, 1)'

                        //     ],
                        //     borderWidth: 2
                        // }
                    ]
                    },


                    options: {

                      legend: {

                                labels: {
                                    fontColor: "black",
                                    fontSize: 13,
                                    display: false
                                }
                            },

                        scales: {
                            yAxes: [{
                                gridLines: {
                                    color: "rgba(0,0,0,0.3)",
                                },
                                ticks: {
                                    fontColor: "black",
                                    beginAtZero: true,
                                    fontSize: 17
                                }
                            }],

                            xAxes: [{
                                gridLines: {
                                    color: "rgba(0,0,0,0.3)",
                                },
                                ticks: {
                                  autoSkip: true,
                                  maxTicksLimit: 12,
                                  fontColor: "black",
                                  fontSize: 17,
                                  maxRotation: 0,
                                }
                            }]
                        },

                            title: {
                                display: true,
                                text: 'Diesel Level',
                                fontSize: 17,
                                fontColor: "balck",
                                fontFamily: "Helvetica"
                            }
                    },
                    interaction: {
                      intersect: false
                    },   
                    plugins: {
                      title: {
                        display: true,
                        text: 'Zoom plugin sample'
                      },
                      zoom: {
                        pan: {
                          enabled: true,
                          mode: 'x'
                        },
                        zoom: {
                          enabled: true,
                          mode: 'x'
                        },
                        limits: {
                          x: {
                            minDelay: 0,
                            maxDelay: 4000,
                            minDuration: 1000,
                            maxDuration: 20000
                          }
                        }
                      }
                    }
                });
              </script>
            </div>
          </div>
          <!-- class ="kpi-graphs" ends here -->
        </div>
        <!-- class ="dashboard" ends here -->
      </div>
      <!-- class ="cont" ends here -->
 {% endblock %}

 {% block js %} 
    <!-- js -->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static './js/navbar.js' %}"></script>
    <!-- <script type="text/javascript" src="../js/dgmsDashboard.js"></script> -->
  </body>
</html>
{% endblock %}