{% extends 'dgms/KPI-base.html' %} {% block content %} {% load static %}
<div class="kpi">
  <div class="graphs-kpi">
    <div class="one-graph">
      <canvas id="energy_op"></canvas>
      <script>
        var energy_op = document.getElementById('energy_op').getContext('2d');
                        var myChart = new Chart(energy_op, {
                            type: 'line',
                            data: {
                                labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                                datasets: [{
                                    label: 'kVA',
                                    fill: false,
                                    data: [{% for v in EO %} {{v}}, {% endfor %}],
                                    borderColor:'rgba(103, 128, 159, 1)',
                                    borderWidth: 2
                                }]
                            },
                            options: {

                              legend: {
                                        labels: {
                                            fontColor: "black",
                                            fontSize: 13
                                        }
                                    },

                                scales: {
                                    yAxes: [{
                                        gridLines: {
                                            color: "rgba(0,0,0,0.3)",
                                        },
                                        ticks: {
                                            fontColor: "black",
                                            beginAtZero: true,
                                            fontSize: 17
                                        }
                                    }],

                                    xAxes: [{
                                        gridLines: {
                                            color: "rgba(0,0,0,0.3)",
                                        },
                                        ticks: {
                                          autoSkip: true,
                                          maxTicksLimit: 12,
                                          fontColor: "black",
                                          fontSize: 17,
                                          maxRotation: 0,
                                        }
                                    }]
                                },

                                title: {
                                    display: true,
                                    text: 'Energy Output (kVA)',
                                    fontSize: 17,
                                    fontColor: "balck",
                                    fontFamily: "Helvetica"
                                }
                            }
                        });
      </script>
    </div>

    <div class="one-graph">
      <canvas id="watts_load"></canvas>
      <script>
                          var watts_load = document.getElementById('watts_load').getContext('2d');
        var myChart1 = new Chart(watts_load, {
            type: 'line',
            data: {
                labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                datasets: [{
                    label: 'kW',
                    fill: false,
                    data: [{% for v in WT %} {{v}}, {% endfor %}],
                    borderColor:'rgba(246, 71, 71, 1)',
                    borderWidth: 2
                }]
            },
            options: {

              legend: {
                        labels: {
                            fontColor: "black",
                            fontSize: 13
                        }
                    },

                scales: {
                    yAxes: [{
                        gridLines: {
                            color: "rgba(0,0,0,0.3)",
                        },
                        ticks: {
                            fontColor: "black",
                            beginAtZero: true,
                            fontSize: 17
                        }
                    }],

                    xAxes: [{
                        gridLines: {
                            color: "rgba(0,0,0,0.3)",
                        },
                        ticks: {
                          autoSkip: true,
                          maxTicksLimit: 12,
                          fontColor: "black",
                          fontSize: 17,
                          maxRotation: 0,
                        }
                    }]
                },

                title: {
                    display: true,
                    text: 'Energy Output (kW)',
                    fontSize: 17,
                    fontColor: "balck",
                    fontFamily: "Helvetica"
                }
            }
        });
      </script>
    </div>

    <div class="one-graph">
      <canvas id="avg_cur"></canvas>
      <script>
        var avg_cur = document.getElementById('avg_cur').getContext('2d');
                    var myChart2 = new Chart(avg_cur, {
                        type: 'line',
                        data: {
                            labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                            datasets: [{
                                label: 'Average Current',
                                fill: false,
                                data: [{% for v in CA %} {{v}}, {% endfor %}],
                                borderColor:'rgba(137, 196, 244, 1)',
                                borderWidth: 2
                            }]
                        },
                        options: {

                          legend: {
                                    labels: {
                                        fontColor: "black",
                                        fontSize: 13
                                    }
                                },

                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                        fontColor: "black",
                                        beginAtZero: true,
                                        fontSize: 17
                                    }
                                }],

                                xAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                      autoSkip: true,
                                      maxTicksLimit: 12,
                                      fontColor: "black",
                                      fontSize: 17,
                                      maxRotation: 0,
                                    }
                                }]
                            },

                            title: {
                                display: true,
                                text: 'Average Current',
                                fontSize: 17,
                                fontColor: "balck",
                                fontFamily: "Helvetica"
                            }
                        }
                    });
      </script>
    </div>

    <div class="one-graph">
      <canvas id="cur_rby"></canvas>
      <script>
        var cur_rby = document.getElementById('cur_rby').getContext('2d');
                  var chart9 = new Chart(cur_rby, {
                      type: 'line',
                      data: {
                          labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                          datasets: [{
                              label: 'CurrentPhaseR',
                              fill: false,
                              data: [{% for v in CR %} {{v}}, {% endfor %}],
                              borderColor: 'rgba(207, 0, 15, 1)',
                              borderWidth: 2
                          },
                          {
                              label: 'CurrentPhaseY',
                              fill: false,
                              data: [{% for v in CY %} {{v}}, {% endfor %}],
                              borderColor: 'rgba(247, 202, 24, 1)',
                              borderWidth: 2
                          },
                          {
                              label: 'CurrentPhaseB',
                              fill: false,
                              data: [{% for v in CB %} {{v}}, {% endfor %}],
                              borderColor:'rgba(44, 130, 201, 1)',
                              borderWidth: 2
                          }
                      ]
                      },
                      options: {

                          legend: {
                                    labels: {
                                        fontColor: "black",
                                        fontSize: 13
                                    }
                                },

                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                        fontColor: "black",
                                        beginAtZero: true,
                                        fontSize: 17
                                    }
                                }],

                                xAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                      autoSkip: true,
                                      maxTicksLimit: 12,
                                      fontColor: "black",
                                      fontSize: 17,
                                      maxRotation: 0,
                                    }
                                }]
                            },

                            title: {
                              display: true,
                              text: 'Phasewise Current',
                              fontSize: 17,
                              fontColor: "balck",
                              fontFamily: "Helvetica"
                          }
                        }
                  });
      </script>
    </div>
  </div>
  <!-- class ="kpi-graphs" ends here -->
</div>
<!--KPI Ends here-->
{% endblock %}
