{% extends 'dgms/base.html' %} {% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static './css/asset.css' %}">
{% endblock %}

{% block content %} 

<div class="cont">

  <div class="internal_nav"> 
    <div class="row" >
        <div ><p><a href="{% url 'dgmsDashboard' device_id %}">Dashboard</a></p></div>
        <!-- <div class="active_link" ><p><a href="kpi.html">KPI</a></p></div> -->

        <div class="drop_asset ">
          <p>KPI</p>
   
          <div class="drop-down ">
           
            <div><a href="{% url 'energyPara' device_id %}">Energy Parameters</a></div>
            <hr>
            <div><a href="{% url 'loadKPI' device_id %}">Load Side KPI</a></div>
            <hr>
            <div><a href="{% url 'enginePara' device_id %}">Engine Parameters</a></div>
            <hr>
            <div><a href="{% url 'performanceKPI' device_id %}">Performance based KPI</a></div>
            <hr>
            <div><a href="{% url 'deviceInfoKPI' device_id %}">DGMS Device Info</a></div>
            
          </div>
   
          </div> 

       <div class="drop_asset active_link">
       <p>Asset Information</p>

       <div class="drop-down">
        
        <div ><a href="{% url 'asset' device_id  %}">Asset Detail</a></div>
        <hr>
        <div><a href="{% url 'servicehistory' device_id  %}">Service History</a></div>
         
       </div>

       </div> 

       <div class="drop_asset ">
         <p>Reports</p>
 
         <div class="drop-down">
          
          <div><a href="{% url 'fuel_report' device_id  %}">Fuel filled report</a></div>
          <hr>
          <div><a href="{% url 'operational_report' device_id  %}">Operational report</a></div>
          <hr>
          <div><a href="{% url 'performance_report' device_id  %}">Performance report</a></div>
           
         </div>
 
         </div> 

         <div ><p><a href="{% url 'device_alert' device_id  %}">Alerts</a></p></div>

    </div>
</div> <!-- class ="internal_nav" ends here -->

 <div class="asset_detail">
 
    <div class="asset_img"><img src={{asset_info.Asset_Photo.url}} alt="asset"></div>

    <div class="head_wrapper">

    <div class="asset_info">
        <div class="asset_name">Asset Detail</div>
        <div class="download_info" onclick="genPDF()"><img src="{% static './images/download.png' %}" alt="asset"></div>
    </div>

    <div class="lib"><a href="{% url 'asset_library' device_id  %}"> <img src="{% static './images/lib.png' %}"/>library</a></div>

  </div>

  <div class="asset-table">
  <table id="asset-detail">
    <thead>
    <tr class="t_body">
      <th>ASSET INFO</th>
      <th></th>
    </tr>
  </thead>

  <tbody> 
    <tr class="no_display">
      <td colspan="2"></td>
    </tr>
    <tr class="t_body" id="heading">
      <td colspan="2">SITE INFO</td>
    </tr>

    <tr class="t_body">
      <td>CARPET AREA (SQ FT)</td>
      <td >{{asset_info.Carpet_Area}}</td>
    </tr>

    <tr class="t_body">
      <td>SANCTION LOAD (KW)</td>
      <td >{{asset_info.Sanction_Load}}</td>
    </tr>

    <tr class="t_body">
      <td>CONNECTED LOAD (KW)</td>
      <td >{{asset_info.Connected_Load}} </td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">ASSET INFO</td>
    </tr>

    <tr class="t_body">
      <td>RATING</td>
      <td >{{asset_info.Rating_In_KVA}} kVA </td>
    </tr>

    <tr class="t_body">
      <td>DIESEL TANK SIZE</td>
      <td> {{asset_info.Diesel_Tank_Size}} L </td>
    </tr>

    <tr class="t_body">
      <td>OEM</td>
      <td>{{asset_info.OEM}} </td>
    </tr>

    <tr class="t_body"> 
      <td>SELLER NAME</td>
      <td>{{asset_info.Seller_Name}}</td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">WARRANTY</td>
    </tr>

    <tr class="t_body">
      <td>WARRANTY START DATE</td>
      <td>{{asset_info.Warranty_Start_Date}}</td>
    </tr>

    <tr class="t_body">
      <td>WARRANTY END DATE</td>
      <td>{{asset_info.Warranty_End_Date}}</td>
    </tr>

    <tr class="t_body">
      <td>WARRANTY PERIOD (YEARS)</td>
      <td>{{asset_info.Warranty_Period}}</td>
    </tr>

    <tr class="t_body">
      <td>WARRANTY STATUS</td>
      <td>{{asset_info.Warranty_Status}}</td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">INSTALLATION</td>
    </tr>

    <tr class="t_body">
      <td>DGMS INSTALLATION DATE</td>
      <td>{{asset_info.Date_Of_Installation}}</td>
    </tr>

    <tr class="t_body">
      <td>COMMISSIONING DATE</td>
      <td>{{asset_info.Commissioning_Date}}</td>
    </tr>

    <tr class="t_body">
      <td>OPERATION</td>
      <td>{{asset_info.Operations}}</td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">ENGINE</td>
    </tr>

    <tr class="t_body">
      <td>MAKE</td>
      <td>{{asset_info.Engine_Make}}</td>
    </tr>

    <tr class="t_body">
      <td>MODEL NO.</td>
      <td>{{asset_info.Engine_Model_No}}</td>
    </tr>

    <tr class="t_body">
      <td>S.NO.</td>
      <td>{{asset_info.Engine_S_NO}}</td>
    </tr>

    <tr class="t_body">
      <td>OTHER INFO</td>
      <td>{{asset_info.Engine_Other_Info}}</td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">ALTERNATOR</td>
    </tr>

    <tr class="t_body">
      <td>MAKE</td>
      <td>{{asset_info.Alternator_Make}}</td>
    </tr>

    <tr class="t_body">
      <td>MODEL NO.</td>
      <td>{{asset_info.Alternator_Model_No}}</td>
    </tr>

    <tr class="t_body">
      <td>S.NO.</td>
      <td>{{asset_info.Alternator_S_NO}}</td>
    </tr>

    <tr class="t_body">
      <td>OTHER INFO</td>
      <td>{{asset_info.Alternator_Other_Info}}</td>
    </tr>

    <tr class="t_body" id="heading" >
      <td colspan="2">BATTERY</td>
    </tr>

    <tr class="t_body">
      <td>MAKE</td>
      <td>{{asset_info.Battery_Make}}</td>
    </tr>

    <tr class="t_body">
      <td>MODEL NO.</td>
      <td>{{asset_info.Battery_Model_No}}</td>
    </tr>

    <tr class="t_body">
      <td>S.NO.</td>
      <td>{{asset_info.Battery_S_NO}}</td>
    </tr>

    <tr class="t_body">
      <td>OTHER INFO</td>
      <td>{{asset_info.Battery_Other_Info}}</td>
    </tr>

    <tr class="t_body"  id="heading">
      <td colspan="2">BATTERY CHARGER</td>
    </tr>

    <tr class="t_body">
      <td>MAKE</td>
      <td>{{asset_info.Battery_Charger_Make}}</td>
    </tr>

    <tr class="t_body">
      <td>MODEL NO.</td>
      <td>{{asset_info.Battery_Charger_Model_No}}</td>
    </tr>

    <tr class="t_body">
      <td>S.NO.</td>
      <td>{{asset_info.Battery_Charger_S_NO}}</td>
    </tr>

    <tr class="t_body">
      <td>OTHER INFO</td>
      <td>{{asset_info.Battery_Charger_Other_Info}}</td>
    </tr>
  </tbody>

  </table>

  <br>
  <br>
</div>

</div> <!-- class ="asset_detail" ends here -->

</div> 
<!-- class ="cont" ends here -->



<!--PDF STRUCTURE-->
<div style="display: none; font-family:Arial, Helvetica, sans-serif">
  <div id="pdfName" style="font-size: 25px;">DGMS Asset Detail</div>
  <div id="customerName" style="font-size: 25px; font-weight: bold;">{{Customer_Name}}</div>
    <div id="assetDetail">
      <div><span style="font-weight: bold;">Asset:</span>{{Cit}}-{{Loc}}</span></div>
      <div><span style="font-weight: bold;">Rating:</span>  {{Rat}}  kVA</div>
      <div><span style="font-weight: bold;">Diesel Tank Size:</span>  {{asset_info.Diesel_Tank_Size}} Liters</div>
    </div>
    <div id="assetAddress">
      <div style="font-weight: bold;">Address:</div> 
      <div>{{Address1}}</div>
    </div>

</div>
{% endblock %}

{% block js %} 
<!-- js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.14/jspdf.plugin.autotable.min.js" ></script>
    

<script type="text/javascript" src="{% static './js/navbar.js' %}"></script>
<script type="text/javascript" src="{% static './js/dgms_pdf-download_asset-detail.js' %}"></script>

</body>

</html>
{% endblock %}