{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta http-equiv="refresh" content="60" />
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static './css/navbar.css' %}" />
    <link rel="stylesheet" href="{% static './css/servo_dashboard.css' %}" />
    <link rel="stylesheet" href="{% static './css/footer.css' %}" />
  </head>

  <body>
    <!-- Side Vertical Navigation bar-->
    <nav>
      <!-- Toogle for responsive nav bar-->
      <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <!-- side nav -->
      <div class="sidenav">
        <div class="img">
          <img
            src="{% static './images/emot.png' %}"
            class="logo"
            alt="logo_emot"
          />
        </div>

        <div class="dropdown-btn active">
          <a href="{% url 'ems' %}"
            ><img
              src="{% static './images/Dashboard.png' %}"
              alt="dashboard"
            />Dashboards</a
          >
          <button id="a">+</button>
        </div>

        <div class="dropdown-container">
          <div class="sub-link">
            <a href="{% url 'dashboard' %}">Diesel Generator</a>
          </div>
          <div class="sub-link active">
            <a href="{% url 'ems' %}">Servo Voltage Stabilizer</a>
          </div>
          <div class="sub-link"><a href="{% url 'ups' %}">UPS</a></div>
        </div>
      </div>
    </nav>
    <!--end side nav-->

    <div class="main">
      <!-- Upper horizontal nav bar -->
      <nav class="hor_nav">
        <div class="left">
          <div class="user_img">
            <img src="{% static './images/ccd.png' %}" alt="user_img" />
          </div>
          <div class="name">{{Customer_Name}}</div>
        </div>

        <div class="right">
          <a href="{% url 'emsalert'  %}" target="_blank"
            ><div class="notify">
              <div>
                <img
                  src="{% static './images/notification.png' %}"
                  alt="notifications"
                />
              </div>
              <div class="not-txt">
                <div class="not-no">{{ alert_count}}</div>
              </div>
            </div></a
          >
          <div class="type">Servo</div>

          <div onclick="dropFunction()" class="user_name">
            {{username}} &ensp;
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-down-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
              />
            </svg>
          </div>

          <div id="user-dropdown" class="drop-cont">
            <div><a href="change_password">Change Password</a></div>
            <hr />
            <div><a href="{% url 'logoutUser' %}" id="logout">Logout</a></div>
          </div>
        </div>
      </nav>
      <!-- end horizontal nav -->

      <div class="cont">
        <div class="ems_dasboard">
          <div class="left-side">
            <div class="table-nav">
              <div class="table-name">
                <span
                  ><img
                    src="{% static './images/renewable-energy.png' %}" /></span
                >Servo Voltage Stabilizer
              </div>
              <div class="drop_downs">
                <form>
                  <select>
                    <option value="" selected disabled hidden>
                      Current Status
                    </option>
                    <option>ON</option>
                    <option>OFF</option>
                  </select>

                  <select>
                    <option value="" selected disabled hidden>State</option>
                    <option>Karnataka</option>
                    <option>Punjab</option>
                  </select>

                  <select>
                    <option value="" selected disabled hidden>City</option>
                    <option>Bangalore</option>
                    <option>Hyderabad</option>
                  </select>

                  <button class="go">GO</button>
                </form>
              </div>
            </div>
            <div class="ems-table-back">
              <table class="ems-table">
                <thead>
                  <tr>
                    <th>S.no</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Current Status</th>
                    <th>Rating (kva)</th>
                    <th>Cooling</th>
                    <th>Average Load (%)</th>
                    <th>Peak Load (kva)</th>
                    <th>Average Power Factor</th>
                    <th>Overall Star</th>
                  </tr>
                </thead>

                <tbody>
                  {% for s,c,l,st,rt,eo,md,r,i,p,co in UserDetail %}
                  <tr class="t_body">
                    <td>{{forloop.counter}}</td>
                    <td>{{s}}</td>
                    <td>{{c}}</td>
                    <td><a href="{% url 'emsDashboard' i %} ">{{l}}</a></td>
                    <td align="center"><div class="on">ON</div></td>
                    <td>{{rt}}</td>
                    <td>{{co}}</td>
                    <td>{{eo}}</td>
                    <td>{{md}}</td>
                    <td>{{p}}</td>
                    {% if r == 1 %}
                    <td class="star">
                      <img src="{% static './images/star1.png' %}" />
                    </td>
                    {% elif r == 2 %}
                    <td class="star">
                      <img src="{% static './images/star2.png' %}" />
                    </td>
                    {% elif r == 3 %}
                    <td class="star">
                      <img src="{% static './images/star3.png' %}" />
                    </td>
                    {% elif r == 4 %}
                    <td class="star">
                      <img src="{% static './images/star4.png' %}" />
                    </td>
                    {% else %}
                    <td class="star">
                      <img src="{% static './images/star5.png' %}" />
                    </td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

          <div class="right-side">
            <div class="servoinfo-back">
              <div class="servoinfo-name">
                <img src="{% static './images/stabilizer.png' %}" />Servo
                Voltage Stabiliser-Summary
              </div>
              <table class="ems-assetinfo-table">
                <thead>
                  <tr class="t_body">
                    <th colspan="2">Servo Voltage Stabiliser</th>
                    <th>Capacity (kVA)</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="t_body">
                    <td>
                      <img src="{% static './images/sigma.png' %}" />
                      <div class="row-name">Total</div>
                    </td>
                    <td>{{Total}}</td>
                    <td>{{Capacity}}</td>
                  </tr>

                  <tr class="t_body">
                    <td>
                      <img src="{% static './images/fan.png' %}" />
                      <div class="row-name">Air Cooled</div>
                    </td>
                    <td>{{Air_total}}</td>
                    <td>{{Air_Capacity}}</td>
                  </tr>

                  <tr>
                    <td>
                      <img src="{% static './images/oil-bottle.png' %}" />
                      <div class="row-name">Oil Cooled</div>
                    </td>
                    <td>{{Oil_total}}</td>
                    <td>{{Oil_Capacity}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- class ="cont" ends here -->

      <div class="footer">
        <div class="footer-content">
          <div>© 2021 eMoT. All Rights Reserved.</div>

          <div class="web-links">
            <div>
              <a href="https://www.emot.co.in/about-us/" target="_blank"
                >About us</a
              >
            </div>
            <div>
              <a href="https://www.emot.co.in/contact/" target="_blank"
                >Contact us</a
              >
            </div>
            <div>
              <a href="https://www.emot.co.in/emot/" target="_blank"
                >eMoT IoT</a
              >
            </div>
          </div>

          <div class="social-media">
            <a href="https://www.facebook.com/emot.co.in/" target="_blank"
              ><img
                src="{% static './images/facebook.png' %}"
                alt="facebook"
                title="facebook"
            /></a>
            <a href="https://twitter.com/Emot86007134" target="_blank"
              ><img
                src="{% static './images/twitter.png' %}"
                alt="twitter"
                title="twitter"
            /></a>
            <a
              href="https://www.linkedin.com/company/emot-elekron/"
              target="_blank"
              ><img
                src="{% static './images/linkedin.png' %}"
                alt="linkedin"
                title="linkedin"
            /></a>
            <a href="https://www.instagram.com/elekronemot/" target="_blank"
              ><img
                src="{% static './images/instagram.png' %}"
                alt="instagram"
                title="instagram"
            /></a>
          </div>
        </div>
      </div>
    </div>
    <!--class="main" ends here-->

    <!-- js -->

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript" src="{% static './js/navbar.js' %}"></script>
  </body>
</html>
