{% extends 'ems-servo/KPI-base.html' %} {% block content %} {% load static %}
<div class="kpi">
  <div class="graphs-kpi">
    <div class="one-graph">
      <canvas id="ld_kva"></canvas>
      <script>
        var ld_kva = document.getElementById("ld_kva").getContext("2d");
        var myChart2 = new Chart(ld_kva, {
          type: "line",
          data: {
            labels: [{% for t in Time %} '{{t}}', {% endfor %}],
            datasets: [
              {
                label: "Load in KVA",
                fill: false,
                data: [{% for v in EO %} {{v}}, {% endfor %}],
                borderColor: "rgba(0, 230, 64, 1)",
                borderWidth: 2,
              },
            ],
          },
          options: {
            legend: {
              labels: {
                fontColor: "black",
                fontSize: 13,
              },
            },

            scales: {
              yAxes: [
                {
                  gridLines: {
                    color: "rgba(0,0,0,0.3)",
                  },
                  ticks: {
                    fontColor: "black",
                    beginAtZero: true,
                    fontSize: 17,
                  },
                },
              ],

              xAxes: [
                {
                  gridLines: {
                    color: "rgba(0,0,0,0)",
                  },
                  ticks: {
                    autoSkip: true,
                    maxTicksLimit: 12,
                    fontColor: "black",
                    fontSize: 17,
                    maxRotation: 0,
                  },
                },
              ],
            },

            title: {
              display: true,
              text: "Load in KVA",
              fontSize: 17,
              fontColor: "balck",
              fontFamily: "Helvetica",
            },
          },
        });
      </script>
    </div>

    <div class="one-graph">
      <canvas id="ld_amp"></canvas>
      <script>
        var ld_amp = document.getElementById('ld_amp').getContext('2d');
                  var chart9 = new Chart(ld_amp, {
                      type: 'line',
                      data: {
                          labels: [{% for t in Time %} '{{t}}', {% endfor %}],
                          datasets: [{
                              label: 'CurrentPhaseR',
                              fill: false,
                              data: [{% for v in CR %} {{v}}, {% endfor %}],
                              borderColor: 'rgba(207, 0, 15, 1)',
                              borderWidth: 2
                          },
                          {
                              label: 'CurrentPhaseY',
                              fill: false,
                              data: [{% for v in CY %} {{v}}, {% endfor %}],
                              borderColor: 'rgba(247, 202, 24, 1)',
                              borderWidth: 2
                          },
                          {
                              label: 'CurrentPhaseB',
                              fill: false,
                              data: [{% for v in CB %} {{v}}, {% endfor %}],
                              borderColor:'rgba(44, 130, 201, 1)',
                              borderWidth: 2
                          }
                      ]
                      },
                      options: {

                          legend: {
                                    labels: {
                                        fontColor: "black",
                                        fontSize: 13
                                    }
                                },

                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                        fontColor: "black",
                                        beginAtZero: true,
                                        fontSize: 17
                                    }
                                }],

                                xAxes: [{
                                    gridLines: {
                                        color: "rgba(0,0,0,0.3)",
                                    },
                                    ticks: {
                                      autoSkip: true,
                                      maxTicksLimit: 12,
                                      fontColor: "black",
                                      fontSize: 17,
                                      maxRotation: 0,
                                    }
                                }]
                            },

                            title: {
                              display: true,
                              text: 'Phasewise Current',
                              fontSize: 17,
                              fontColor: "balck",
                              fontFamily: "Helvetica"
                          }
                        }
                  });
      </script>
    </div>
  </div>
  <!-- class ="kpi-graphs" ends here -->
</div>
<!--KPI Ends here-->
{% endblock %}
