canvas#diesel_level{
    width:100%!important;
    height:75vh !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(198, 198, 198);
  }

  canvas#run_count,
  #gsm,#gt_battery,#vln_avg,#avg_voltage,#freq,#rpm,
  #watts_load,#avg_cur,#cur_rby,#diesel_level1,#dg_battery,
  #energy_op,#run_hr,#unit_gen,#load_ef,#peak_load,#carbon,
  #inV,#outV,#peak_ld,#ld_kva,#ld_amp,#pow_fac{
    background-color: rgb(81, 81, 81);
    width:100%!important;
    height:75vh !important;
    margin: 13px 0px 15px 0px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: rgb(255, 255, 255);
  }
