@import url("fonts.css");

.back{
    margin: 20px 80px 30px 80px;   
}

.head{
    
    display: inline-block;
    min-width: 18%;
    text-align: center;
    min-height: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #47B9D0;
    
}

.head_text{
    padding: 12px 10px 0px 10px;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
}

.form_body{
    background-color: white;
    min-height: 30vh;
    display: inline-block;
    min-width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-bottom: 5px solid #47B9D0;
    
}

.form_body form{
    padding: 10px 0px 10px 0px;
}

.form_body form .row{
    margin: 0;
    padding: 0;
    margin: 30px;

}

.form_body form .row div{
    margin-right: 6rem;
   
}

.form_bottom{
    display: flex;
    float: right;
    margin: 10px 10px 20px 10px;
}

.reset img{
    height: 25px;
    width: 25px;
    margin-top: 7px;
    margin-right: 10px;
    cursor: pointer;
}

.submit_btn button{
    color: white;
    background-color: #67CE57;
    border: none;
    width: 100px;
    height: 40px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.submit_btn button:active{
  background-color: #3c7b32;
  box-shadow: none;
}

.form_body form label{
    font-weight: bold;
}

.form_body form input{
    width: 11.2rem;
    height: 2rem;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(184, 184, 184);
}






/*------------------ Table ----------------------------*/





.table_back{
    margin: 0px 210px 0px 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.table{
    background-color: white;
    min-height: 71vh;
    max-height: 71vh;
    overflow-y: auto;
    margin-bottom: 0px;;
    text-align: center;
    
}

.table table{
    border-spacing: 0 1em;
    width: 100%;
   
}

.table thead th{
    
    color: #ffffff;
    position: sticky;
    padding: 8px;
    height: 5vh;
    top: 0; /* Don't forget this, required for the stickiness */
    /*text-transform: uppercase;*/
    background-color: rgb(51, 91, 99);
}
.table th, td{
    font-size: 13.5px;
    padding: 10px;
   
}

.table tbody tr:nth-child(odd){
    background-color: #e7e7e7;

}


/*-------------------CSS for total records-------------*/

.total_records{
    background-color: #0d1545;
    min-height: 3vh;
}

.tr_text{
    margin-left: 10px;
    font-size: 12px;
    color: white;
}

